<h1>Nouvelle demande de contact sur votre site <%= link_to 'Sensorygarden.be', "https://www.sensorygarden.be" %></h1>

<p><%= @nom %> souhaite entrer en contact avec vous. Voici son message : </p>

<p><%= @message %></p>