<h1>Récupération de votre mot de passe <%= @user[:nom] %> <%= @user[:prenom] %></h1>

<p>Vous avez effectué une demande pour récupérer votre mot de passe sur notre plateforme <%= link_to 'sensorygarden.be', "https://www.sensorygarden.be" %></p>

<p>Veuillez suivre le lien ci-dessous afin de changer votre mot de passe :</p>

<%= link_to 'Réinitialiser votre mot de passe', "https://www.sensorygarden.be/passwordReset.html?token=#{@user[:reset_token]}" %>