<h1>Bienvenue sur <%= link_to 'Sensorygarden.be', "https://www.sensorygarden.be" %> !</h1>

<p>Merci <%= @user[:prenom] %> de rejoindre notre communauté ! Toute l'équipe de Sensory Garden te souhaite la bienvenue.</p>

<p>Afin de te connecter à notre plateforme, tu dois confirmer ton adresse email en cliquant sur le lien ci-dessous !</p>

<%= link_to 'Comfirmer mon email', "https://sensorygarden.be/mailConfirm.html?token=#{@user[:confirm_token]}" %>